<template>
    <header>
        <div class="uk-container">
            <div class="top-menu">
                <ul>
                    <li><router-link to="/">Home</router-link></li>
                    <li><router-link to="/some">Some</router-link></li>
                </ul>
            </div>
        </div>
    </header>
</template>

<script src="./header.js"></script>