<template>
    <div class="uk-container">
        {{msg}}
    </div>
</template>
<script>

    export default {
        name: 'SomePage',
        data () {
            return {
                msg: 'Some page txt'
            }
        },
    }
</script>