<template>
    <div class="uk-container">
        {{msg}}
    </div>
</template>
<script>

    export default {
        name: 'IndexPage',
        data () {
            return {
                msg: 'test msg'
            }
        },
    }
</script>