<template>
  <div id="app">
    <app-header />
    <router-view/>
    <app-footer />
  </div>
</template>

<script>
    import AppFooter from './components/shared/footer/AppFooter.vue';
    import AppHeader from './components/shared/header/AppHeader.vue';
    import {AppHelper} from './helpers/AppHelprer';

    let appHelper = new AppHelper();

export default {
  name: 'App',
  components: {
      AppFooter,
      AppHeader
  },
  created(){

      appHelper.someMethod();

  }
}
</script>
